{% extends "base.html" %} {% block title %}Admin{% endblock %}
    {% block content%}

    <form method="POST">
        <h3 align="center">Admin Controller</h3>
        <div class="form-group">
          <label for="email">Teacher's Email </label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <button type="submit" class="btn btn-primary">Send to teacher's mail</button>
      </form>
      {% endblock %}